* {
    font-family: "Montserrat", serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    background-color: #fafafa;
    color: #2b552d;
    min-width: 440px;
}

i {
    cursor: pointer;
}



/* NAVIGATION BAR */

.nav-bar {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    color: #2b552d;
    padding: 30px 70px 10px 70px;
    position: sticky;
    top: 0;
    z-index: 20;
}

.logo-area {
    width: 20%;
    padding: 0 0 0 40px;
    align-content: center;
}

.link-area {
    width: 60%;
    align-content: center;
    justify-items: center;
}

.user-area {
    width: 20%;
    padding: 0 40px 0 0;
    align-content: center;
    display: flex;
    justify-content: end;
}

.logo img{
    padding: 0;
    width: 70px;
}

.link-area ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 70%;
}

.link-area li {
    padding: 10px 15px;
    border: 3px solid #fafafa;
}

.link-area a {
    color: #2b552d;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.link-area a:hover {
    color: #4f7751;
    text-decoration: none;
    transition: 0.3s ease;
}

.link-area .active {
    border-bottom: 3px solid #4f7751;
}

.link-area .active a {
    color: #4f7751;
    text-decoration: none;
}

.user-area a {
    font-size: 18px;
    padding: 10px;
    border: 3px solid #fafafa;
    font-family: "Montserrat", serif;
}

.user-area span {
    font-family: "Montserrat", serif;
}



/* BODY */

.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 500px;
}

.section {
    display: flex;
    padding: 20px 100px;
}

.panel {
    align-content: center;
    justify-items: center;
}

.left-panel {
    width: 60%;
}

.right-panel {
    width: 40%;
}

.center-panel {
    width: 100%;
}

.full-panel {
    width: 100%;
}

h1 {
    font-weight: 500;
    font-size: 65px;
    letter-spacing: -0.4px;
    margin: 0;
    font-family: "Calistoga", serif;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}

h3 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

h4 {
    font-size: 20px;
    color: #4f7751;
    margin: -15px 0 0 0;
}

h5 {
    font-size: 4px;
    font-weight: 700;
    margin: 15px 0 0 0;
}

p {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin: 30px 0;
}

.heading-area {
    display: flex;
    width: 100%;
}

.heading-area .name {
    color: #4f7751;
}

.heading-area h2 {
    margin: 10px 0;
    text-align: center;
}

.button-area {
    margin: 15px 0 0 0;
    display: flex;
    width: 100%;
}

.button-default {
    padding: 12px 24px;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 8px;
    border: 3px solid #fafafa;
    background-color: #2b552d;
    color: #fafafa;
    text-decoration: none;
}

.button-default:hover {
    background-color: #fafafa;
    color: #4f7751;
    border: 3px solid #4f7751;
    transition: 0.3s ease;
}

.button-alt {
    padding: 12px 24px;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 8px;
    background-color: #4f7751;
    color: #fafafa;
    border: 3px solid #fafafa;
    text-decoration: none;
}

.button-alt:hover {
    background-color: #fafafa;
    border: 3px solid #2b552d;
    color: #2b552d;
    transition: 0.3s ease;
}

.button-area .button-default {
    margin: 0 30px 0 0;
}

.button-logout {
    padding: 8px 12px;
    font-size: 14px;
    background: none;
    color: #2b552d;
    box-shadow: none;
}

.button-logout :hover{
    background-color: #fafafa;
    transition: 0.3s ease;
}



/*SHOWCASE SECTION*/

.showcase {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("assets/um-bg10.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 100%;
    height: auto;
    min-height: 520px;
}

.showcase .left-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -30px 0 0 0;
}

.showcase .right-panel {
    margin: -30px 0 0 0;
}

.showcase .img-cont {
    justify-items: center;
    padding: 0 150px 0 0;
}


.showcase p {
    margin-bottom: 50px;
}



/*STRIP SECTION*/

.strip {
    background-color: #2b552d;
    color: #fafafa;
    min-height: 200px;
}

.strip .center-panel {
    text-align: center;
}

.strip h5 {
    font-size: 20px;
    font-weight: 700;
    color: #fafafa;
    margin: 15px 0 0 0;
}

.strip p {
    margin: 10px 0;
}

.box-container {
    height: 100%;
}

.strip .box-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.strip .box {
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    align-content: center;
    text-align: left;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    height: 70%;
    margin-top: 30px;
}

.box h5, p{
    margin: 0;
}



/*INFO SECTION*/

.info {
    background-color: #fafafa;
    color: #2b552d;
    min-height: 500px;
}

.info h4 {
    font-size: 25px;
    margin: -15px 0;
    width: 100%;
}

.info .img-cont {
    justify-items: center;
}

.info img {
    display: block;
    width: 80%;
    height: auto;
}



/*FEATURE PAGE*/

.feature {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    text-align: center;
    background: url(assets/bg-swirl.png) no-repeat;
}

.feature-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 10px 40px;
}

.feature-grid {
    display: flex;
    transition: transform 0.6s ease-in-out;
    width: 200%;
    justify-content: flex-start;
    margin: 20px 20px;
}

.grid-grp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-shrink: 0;
    width: 100%;
    justify-items: center;
    text-align: center;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2b552d;
    color: white;
    font-size: 24px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
}

.nav-btn:hover {
    background-color: #4f7751;
}

.left-btn {
    left: 0;
}

.right-btn {
    right: 0;
}

.feature .button-area {
    justify-content: center;
}

.card-img {
    overflow: hidden;
}

.card-img img {
    height: 300px;
    width: auto;
}



/*TITLE SECTION*/

.title {
    min-height: 180px;
}

.title .heading-area {
    justify-content: center;
}



/*FORM SECTION*/

.form {
    background-color: #fafafa;
    color: #2b552d;
    min-height: 480px;
    justify-content: center;
}

.form .center-panel {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.form h2 {
    color: #2b552d;
    font-size: 55px;
    margin: 30px 0 0 0;
}

.form .heading-area {
    display: flex;
    justify-content: center;
}

.form-area {
    display: flex;
    flex-direction: column;
    color: #2b552d;
    font-size: 50px;
    margin: 0 0 45px 0;
    width: 100%;
}

.form-area label {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
}

.form-area input,
select {
    border: 3px solid #2b552d;
    border-radius: 10px;
    padding: 15px;
    font-family: "Montserrat", serif;
    font-size: 14px;
}

.form-area textarea {
    border: 3px solid #2b552d;
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    padding: 15px 20px;
    resize: none;
    min-height: 100px;
}

.form-area .button-default {
    border: 3px solid #4f7751;
}

.form-area .button-default:hover {
    border: 3px solid #4f7751;
    color: #4f7751;
}



/*FOOTER SECTION*/

.footer-bar {
    display: flex;
    background-color: #2b552d;
    color: #fafafa;
    padding: 60px 80px 10px 80px;
    justify-content: center;
    text-align: center;
}

.footer-content {
    width: 30%;
    justify-items: center;
}

.footer-bar p {
    color: #4f7751;
    font-size: 14px;
}

.social-area {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0 20px 0;
}

.social-area a {
    color: #fafafa;
    text-decoration: none;
    font-size: 30px;
}

.social-area a:hover {
    color: rgb(212, 194, 168);
    transition: 0.3s ease;
}

.footer-bar img {
    width: 90px;
}



/*  MODAL OR POPUP  */  

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
}

.modal-content {
    background-color: #fafafa;
    margin: 3% auto;
    padding: 15px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.modal p {
    font-size: 14px;
    font-weight: 600;
}

/*  CONFIRM MODAL  */

#confirmModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center; /* centers horizontally */
    align-items: center;  
}

#confirmModal .modal-content {
    padding: 25px;
}

.modal-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-buttons button {
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

#confirmYes {
  background-color: #4f7751;
  color: white;
}

#confirmNo {
  border: 3px solid #9c4848; 
  color: #9c4848;
}

#confirmYes :hover{
  background-color: #2b552d;
  color: white;
}

#confirmNo :hover{
  background-color: 3px solid #753232; 
  color: white;
}



/*OTHER DESIGN STUFF*/

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #4f7751;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #fafafa;
    width: 50px;
}




/*  USER PAGE*/

.user .section{
    padding: 10px 70px;
}

.user-info{
    display: flex;
    align-items: flex-start;
    min-height: 500px;
    margin-top: 20px;
}

.user-info-nav{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    color: #2b552d;
    font-weight: 600;
    border-radius: 15px;
    width: 20%;
    text-align: left;
}

.user-info-main{
    background-color: #2b552d;
    color: #fafafa;
    border-radius: 15px;
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    /*transition: width 0.5s ease-in-out;*/
}

.user-info-nav a{
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #2b552d;
    padding: 20px 25px;
}

.user-info-nav span{
    font-family: "Montserrat", serif;
    font-weight: 600;
}

.user-info-nav a:hover{
    background-color: #efebe3;
    cursor: pointer;
    transition: 0.3s ease;
}

.user-info-nav .active{
    background-color: #2b552d;
    color: #fafafa;
}

.user-info-nav .active:hover{
    background-color: #2b552d;
    color: #fafafa;
    transition: 0.3s ease;
}

.user-main-area{
    padding: 15px 15px;
    border-bottom: 2px solid #fafafa;
    margin: 0 20px;
    overflow: hidden;
}

.user-main-area .img-cont{
    background-color: #4f7751;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    justify-self: center;
    overflow: hidden;
    text-align: center;
}

.user-main-area h3{
    font-family: "Calistoga", serif;
    font-size: 30px;
    letter-spacing: 2px;
}

.part-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10px;
}

.part h6{
    margin: 0;
    font-size: 17px;
    font-weight: 700;
    margin: 12px 0 4px 0;
}

.part p{
    font-weight: 400;
    margin: 0 0 12px 0;
    font-size: 16px;
}

.part form {
    display: flex;
    align-items: center;
    gap: 10px; 
    width: 100%; 
}

.part input {
    width: 70%;
}

.user-main-area input, button {
    border: none;
    margin: 6px 0;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 8px;
}

.user-main-area .table-button{
    background-color: #2b552d;
    color: #fafafa;
    border: 2px solid #fafafa;
    transition: 0.3s ease-in-out;
}

.user-main-area .table-button:hover{
    background-color: #4f7751;
    color: #fafafa;
    border: 2px solid #fafafa;
    transition: 0.3s ease-in-out;
}

#about {
    background-color: #fafafa;
    color: #1a1a1a;
}

#about h2{
    font-weight: 700;
    font-size: 22px;
    color: #daae29;
    margin-bottom: 25px;
}

#about p {
    font-weight: 400;
}



@media only screen and (max-width: 1350px) {
    .user-info-nav {
        width: 10%;
        text-align: center;
    }

    .user-info-main {
        width: 90%;
    }

    .user-info-nav a,
    i {
        font-size: 25px;
        align-self: center;
    }

    .user-info-nav span {
        display: none;
    }

    .log-out {
        padding: 10px;
        font-size: 25px;
        border-radius: 15px;
    }

    #logoutForm {
        width: 100%;
    }

    .log-out {
        width: 100%;
    }
}

@media only screen and (max-width: 1100px) {

    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 30px 20px 30px;
    }

    .logo-area {
        width: 95%;
        text-align: center;
        padding: 0;
    }

    .link-area {
        width: 95%;
        margin: 25px 0 0 0;
    }

    .link-area ul {
        width: 100%;
        display: flex;
    }

    .link-area li {
        width: 100%;
        text-align: center;
    }

    .user-area {
        position: absolute;
        top: 5px;
        right: 20px;
    }

    .logo-area img {
        padding: 0;
        align-self: center;
    }

    .link-area ul {
        padding: 0;
        justify-content: center;
    }

    .section {
        display: block;
        padding: 20px 30px;
        justify-items: center;
    }

    .panel {
        text-align: center;
        padding: 0;
        width: 90%;
    }

    .showcase .panel {
        min-height: 470px;
    }

    .heading-area {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .button-area {
        justify-content: center;
    }

    .box-container {
        flex-direction: column;
        align-items: center;
    }

    .box-container .box {
        width: 80%;
        margin-bottom: 20px;
    }

    .feature {
        padding: 20px 0;
    }

    .feature-grid-container {
        margin: 0;
    }

    .grid-grp {
        width: auto;
        transition: transform 0.4s ease-in-out;
    }

    .grid-grp .card-img {
        margin: 0 10px;
    }

    .footer-content {
        width: 90%;
    }

    .showcase h1 {
        font-size: 54px;
    }

    .showcase h4 {
        font-size: 42px;
    }

    .title h2 {
        font-size: 50px;
    }

    .title h4 {
        font-size: 42px;
    }

    /* USER PAGE */

    .user-info .panel {
        width: 100%;
    }

    .user-info-nav {
        flex-direction: row;
        width: 95%;
        justify-content: space-between;
    }

    .user-info-nav .log-out {
        margin: 0;
        border-radius: 10px;
        height: 65px;
        font-size: 25px;
    }

    .user-info-main {
        flex-direction: row;
        width: 95%;
        margin: 0;
    }

    .user-main-area {
        overflow-x: auto
    }

    .cart .panel {
        width: 100%;
        margin-bottom: 15px;
    }

    .part-container {
        flex-direction: column;
    }

    .modalContent {
        width: 70%;
    }
}